{% extends 'partials/base.html.twig' %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page])|defined(false)  %}
{% set hero_image_name = page.header.hero_image %}
{% set collection = page.collection() %}

{% block hero %}
    {% if hero_image_name %}
        {% set hero_image = page.media[hero_image_name] %}
        {% set content %}
            <h1>{{ page.title }}</h1>
            <h2>{{ page.header.subtitle }}</h2>
        {% endset %}
        {% include 'partials/hero.html.twig' with {id: 'page-hero'} %}
    {% endif %}
{% endblock %}

{% block body %}
<section id="body-wrapper" class="section">
    <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' %}
	{% block item %}
            <div class="content h-entry">
	        
		{% if not hero_image_name %} 
		    <h1>{{ page.title }}</h1>
		    <h2>{{ page.header.subtitle }}</h2>
		{% endif %}
                
		{{ page.content|raw }}
		
		<div class="card-container">
    	    	    {% for p in collection %}
			<div class="card">
		            <div class="card-header">
		                <div class="card-title h5"><a href="{{ p.url }}"> {{ p.title }}</a></div>
		            </div>
  	            	    <div class="card-body"></div>
  	            	    <div class="card-footer"></div>
	        	</div>
	    	    {% endfor %}
        	</div>
	    
	    </div>

	{% endblock %}
	{% if show_sidebar %}
            {% block sidebar %}
                	{% include 'partials/sidebar.html.twig' %}
            {% endblock %}
	{% endif %}
        {% endembed %}

    </section>
</section>
{% endblock %}
